.sidebar {
    width: 250px;
    background-color: #41b3a3;
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-list {
    list-style-type: none;
    padding: 20% 10%;
  }
  
  .sidebar-item {
    color: #fff;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-size: 1.75rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .sidebar-item:hover {
    background-color:  #c38d9e;
    color: #fff;
  }
  
  .sidebar-item:active {
    background-color:  #c38d9e;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  
    .sidebar-item {
      font-size: 14px;
    }
  }
  .sidebar-item.active-link {
    background-color: #c38d9e;
    color: #fff;
  }
  