.MuiTablePagination-root {
    display: flex;
    justify-content: center;
  }
  .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions{
    display: flex;
  }
  .css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar{
    white-space: nowrap;
  }
  .page-main-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }  

  .message.success {
    color: green;
  }
  
  .message.error {
    color: red;
  }
  .css-1g68t7m{
    margin-top: 0.5%;
  }